<% let traitDots = function(trait, max=5, imbalanced=0)
{
    for(let i = imbalanced; i < trait.level; i++)
    {
        %><i class="trait bx bxs-circle"></i><%
    }
    for(let i = 0 ; i < imbalanced; i++)
    {
        %><i class='bx bxs-bolt-circle' ></i><%
    }
    for(let i = trait.level; i < max; i++)
    {
        %><i class="trait bx bx-circle"></i><%
    }
}
let traitBoxes = function(trait, spent = 0, fuel = '')
{
    for(let i = 0; i < spent; i++)
    {
        %><i class="traitBox trait bx bxs-x-square"<%- fuel?` data-fuel="${fuel}"`:''%>></i><%
    }
    for(let i = spent; i < trait.level; i++)
    {
        %><i class="traitBox trait bx bx-square"<%- fuel?` data-fuel="${fuel}"`:''%>></i><%
    }
    for(let i = trait.level ; i < 10; i++)
    {
        %><i class="traitBox trait bx bxs-square"></i><%
    }
}

%>
<div class="row rolling"><h2 class="col text-center">Roller <i class="toggler bx bx-up-arrow-alt"></i></h2></div>
<div class="row rolling">

    <div class="col-12 col-lg-10">
        <div class="row">
            <div class="col-2"><strong>Roll:</strong></div>
            <div class="col" id="rollParts"></div>
        </div>
        <div class="row">
            <div class="col-4"><strong>Complications:</strong></div>
            <div class="col" id="complications">
                <label for="diff">Difficulty</label><select id="diff"><option>3</option><option>3</option><option>4</option><option>5</option><option selected>6</option><option>7</option><option>8</option><option>9</option><option>10</option></select>
                <label for="willpower">Willpower</label><input type="checkbox" id="willpower"/>
                <label for="wyrd">Wyrd</label><input type="checkbox" id="wyrd"/>
                <label for="spec">Specialty</label><input type="checkbox" id="spec"/>
            </div>
        </div>
        <div class="row">
            <div class="col-2"><strong>Result:</strong></div>
            <div class="col" id="result"></div>
        </div>
    </div>

    <div class="col-12 col-lg-2">
        <button class="btn btn-primary" id="rollButton">Roll</button>
    </div>



</div>

<div class="row"><h2 class="col text-center">Personal Details <i class="toggler bx bx-up-arrow-alt"></i></h2></div>
<div class="row">
    <div class="col-md-2 col-6 col-lg-2"><strong>Name</strong></div>
    <div class="col-md-2 col-6 col-lg-2"><%-sheet.name%></div>
    <div class="col-md-2 col-6 col-lg-2"><strong>Court</strong></div>
    <div class="col-md-2 col-6 col-lg-2"><%-sheet.court%></div>
    <div class="col-md-2 col-6 col-lg-2"><strong>Seeming</strong></div>
    <div class="col-md-2 col-6 col-lg-2"><%-sheet.seeming%></div>
    <div class="col-md-2 col-6 col-lg-2"><strong>Player</strong></div>
    <div class="col-md-2 col-6 col-lg-2"><%-sheet.player%></div>
    <div class="col-md-2 col-6 col-lg-2"><strong>Legacies</strong></div>
    <div class="col-md-2 col-6 col-lg-2"><%-sheet.legacies.seelie%> / <%- sheet.legacies.unseelie%></div>
    <div class="col-md-2 col-6 col-lg-2"><strong>Kith</strong></div>
    <div class="col-md-2 col-6 col-lg-2"><%-sheet.kith%></div>
    <div class="col-md-2 col-6 col-lg-2"><strong>Chronicle</strong></div>
    <div class="col-md-2 col-6 col-lg-2"><%-sheet.chronicle%></div>
    <div class="col-md-2 col-6 col-lg-2"><strong>House</strong></div>
    <div class="col-md-2 col-6 col-lg-2"><%-sheet.house%></div>
    <div class="col-md-2 col-6 col-lg-2"><strong>Motley</strong></div>
    <div class="col-md-2 col-6 col-lg-2"><%-sheet.motley%></div>
</div>

<div class="row"><h2 class="col text-center">Attributes <i class="toggler bx bx-up-arrow-alt"></i></h2></div>
<div class="row">
    <% for(let [useGroupName, useGroup] of Object.entries(sheetStructure.attributes)) {
    %><div class="col-12 col-md-4 col-lg-4">
        <div class="row"><div class="col text-center"><strong><%- useGroupName%></strong></div></div>
        <% for(let traitName of useGroup)
        {
            let trait = sheet.traits[traitName.toLowerCase()];
        %>
        <div class="row">
            <div class="col-6"><strong class="traitName" data-level="<%-trait.level%>" title="<%-trait.specialty%>"><%-trait.name%></strong><%-(trait.specialty?"*":"")%></div>
            <div class="col-6"><% traitDots(trait) %></div>
        </div>
        <%
        }
        %>
    </div><%
    }%>
</div>
<div class="row"><h2 class="col text-center">Abilities <i class="toggler bx bx-up-arrow-alt"></i></h2></div>
<div class="row">
    <% for(let [useGroupName, useGroup] of Object.entries(sheetStructure.abilities)) {
    %><div class="col-12 col-md-4 col-lg-4">
        <div class="row"><div class="col text-center"><strong class="traitName"><%- useGroupName%></strong></div></div>
        <% for(let traitName of useGroup)
        {
            let trait = sheet.traits[traitName.toLowerCase()];
        %>
        <div class="row">
            <div class="col"><strong class="traitName" data-level="<%-trait.level%>" title="<%-trait.specialty%>"><%-trait.name%></strong><%-(trait.specialty?"*":"")%></div>
            <div class="col"><% traitDots(trait) %></div>
        </div>
        <%
        }
        %>
    </div><%
    }%>
</div>
<div class="row"><h2 class="col text-center">Advantages <i class="toggler bx bx-up-arrow-alt"></i></h2></div>
<div class="row">
    <div class="col-12 col-md-4 col-lg-4">
        <div class="row"><strong class="text-center">Backgrounds</strong></div>
        <% for(let [name, background] of Object.entries(sheet.structuredTraits.background)) {%>
            <div class="row">
                <div class="col"><strong class="traitName" data-level="<%-background.level%>"><%- background.name + (background.specialty?(` - (${background.specialty})`):"")%></strong></div>
                <div class="col"><% traitDots(background) %></div>
            </div>
        <%} %>
    </div>
    <div class="col-12 col-md-4 col-lg-4">
        <div class="row"><strong class="text-center">Arts</strong></div>
        <% for(let [name, art] of Object.entries(sheet.structuredTraits.art)) {%>
            <div class="row">
                <div class="col"><strong class="traitName"  data-level="<%-art.level%>"><%- art.name %></strong></div>
                <div class="col"><% traitDots(art) %></div>
            </div>
        <%} %>
    </div>
    <div class="col-12 col-md-4 col-lg-4">
        <div class="row"><strong class="text-center">Realms</strong></div>
        <% for(let [name, realm] of Object.entries(sheet.structuredTraits.realm)) {%>
            <div class="row">
                <div class="col"><strong class="traitName" data-level="<%-realm.level%>"<%- realm.favoured?' style="font-style: italic;"':"" %>><%- realm.name %></strong></div>
                <div class="col"><% traitDots(realm) %></div>
            </div>
        <%} %>
    </div>
</div>
<div class="row"><h2 class="col text-center">Health and Spendables  <i class="toggler bx bx-up-arrow-alt"></i></h2></div>
<div class="row">
    <div class="col-12 col-md-4 col-lg-4">
        <img src="/npcs/qrcode/<%-nanoid%>"/>
    </div>
    <div class="col-12 col-md-4 col-lg-4">
        <div class="row"><h4 class="col text-center traitName">Glamour</h4></div>
        <div class="row">
            <div class="col text-center"><% traitDots(sheet.traits.glamour, 10) %></div>
        </div>
        <div class="row">
            <div class="col text-center"><% traitBoxes(sheet.traits.glamour, sheet.glamourSpent, 'glamourSpent') %></div>
        </div>

        <div class="row"><h4 class="col text-center traitName">Willpower</h4></div>
        <div class="row">
            <div class="col text-center"><% traitDots(sheet.traits.willpower, 10, sheet.imbalance) %></div>
        </div>
        <div class="row">
            <div class="col text-center"><% traitBoxes(sheet.traits.willpower, sheet.willpowerSpent, 'willpowerSpent') %></div>
        </div>

        <div class="row"><h4 class="col text-center traitName">Nightmare</h4></div>
        <div class="row">
            <div class="col text-center"><% traitBoxes({level:10}, sheet.nightmare.level) %></div>
        </div>

        <div class="row"><h4 class="col text-center traitName">Banality</h4></div>
        <div class="row">
            <div class="col text-center"><% traitDots(sheet.traits.banality, 10) %></div>
        </div>
        <div class="row">
            <div class="col text-center"><% traitBoxes({level:10}, sheet.temporaryBanality) %></div>
        </div>

    </div>
    <div class="col-12 col-md-4 col-lg-4">
        <div class="row"><h4 class="col text-center">Health</h4></div>
        <div class="row">
            <div class="col text-end">Unbruised</div>
            <div class="col"><i class="bx bx-square"></i></div>
        </div>
        <% if(sheet.kith === 'Troll'){
            if(sheet.secondOathSworn)
            {
            %>
            <div class="row">
                <div class="col text-end">Unbruised</div>
                <div class="col"><i class="bx bx-square"></i></div>
            </div>
            <div class="row">
                <div class="col text-end">Unbruised</div>
                <div class="col"><i class="bx bx-square"></i></div>
            </div>
            <%
            }
        %>

            <div class="row">
                <div class="col text-end">Unbruised</div>
                <div class="col"><i class="bx bx-square"></i></div>
            </div>
        <% } %>
        <div class="row">
            <div class="col text-end">-1</div>
            <div class="col"><i class="bx bx-square"></i></div>
        </div>
        <div class="row">
            <div class="col text-end">-1</div>
            <div class="col"><i class="bx bx-square"></i></div>
        </div>
        <div class="row">
            <div class="col text-end">-2</div>
            <div class="col"><i class="bx bx-square"></i></div>
        </div>
        <div class="row">
            <div class="col text-end">-2</div>
            <div class="col"><i class="bx bx-square"></i></div>
        </div>
        <div class="row">
            <div class="col text-end">Incapacitated</div>
            <div class="col"><i class="bx bx-square"></i></div>
        </div>

    </div>
</div>