<%- include('../inc/header') %>
<style>
    .traitName, .rollPart
    {
        cursor:pointer;
    }


    @media print {
        body {
            font-size: 0.9em;
        }

        .rolling, .nav, .toggler
        {
            display: none;
        }

        .tab-content > .tab-pane {
            display: block !important;
            opacity: 1 !important;
            visibility: visible !important;
            page-break-after: always;
        }
    }

    @page
    {
        size: auto;   /* auto is the initial value */

        /* this affects the margin in the printer settings */
        margin: 10mm 10mm 10mm 10mm;
    }

</style>
<script type="text/javascript">
    var nanoid="<%- hash %>";
</script>

<script type="module" src="/js/sheetLoader.js"></script>


<div class="container">
    <ul class="nav nav-tabs ml-auto" id="sheetStructure" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="sheet-tab" data-bs-toggle="tab" data-bs-target="#sheet" type="button" role="tab" aria-controls="sheet" aria-selected="true">Sheet</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="kith-and-house-tab" data-bs-toggle="tab" data-bs-target="#kithAndHouse" type="button" role="tab" aria-controls="kithAndHouse" aria-selected="false">Kith and House</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="arts-tab" data-bs-toggle="tab" data-bs-target="#arts" type="button" role="tab" aria-controls="arts" aria-selected="false">Arts</button>
        </li>
    </ul>
    <div class="tab-content" id="sheetStructureContent">
        <div class="tab-pane fade show active" id="sheet" role="tabpanel" aria-labelledby="sheet-tab">
            <%- include('./kithSheetStructure') %>
        </div>
        <div class="tab-pane fade" id="kithAndHouse" role="tabpanel" aria-labelledby="kith-and-house-tab">
            <%- include('./kithAndHouse') %>
        </div>
        <div class="tab-pane fade" id="arts" role="tabpanel" aria-labelledby="arts-tab">
            <%- include('./arts') %>
        </div>
    </div>
</div>
<%- include('../inc/footer') %>